body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f9;
  font-family: 'Arial', sans-serif;
}

.main-container {
  display: flex;
  width: 900px;
  max-width: 100%;
  height: 1150px;
  background-color: #ffffff;
  

.left-panel {
  width: 330px;
  display: flex;
  flex-direction: column;
  background-color: #2d2d2d; 
  color: #ffffff;
}

.photo-panel {
  background-size: cover;
  background-position: center;
}

.text-content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-content h2 {
  font-size: 1.2;
  margin-bottom: 10px;
  border-bottom: 2px solid #fff;
}

.text-content p {
  font-size: 1;
  margin-bottom: 10px;
}

.nccu-icon {
  align-self: center;
  margin-top: auto;
}

.nccu-icon img {
  max-width: 100px;
}

.right-panel {
  width: 540px;
  padding: 20px;
  background-color: #ffffff;
}

.right-panel section {
  margin-bottom: 20px;
}

.right-panel h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.timeline-item {
  display: flex;
  gap: 20px;
}

.year {
  font-weight: bold;
  color: #555;
  width: 80px;
}

.homework ul {
  list-style-type: none;
}

.homework li {
  margin-bottom: 10px;
}

.homework a {
  color: #007bff;
  text-decoration: none;
}

.homework a:hover {
  text-decoration: underline;
}

.favorite-music .music-list {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.favorite-music .music-list img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.favorite-music .note {
  font-size: 0.9rem;
  color: #555;
  margin-top: 10px;
}f